@import "tailwindcss";

/* Hide scrollbar for the message input textarea */
#message-input::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for the message input textarea */
#message-input::-webkit-scrollbar {
  display: none;
}

#message-input {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer utilities {
  .text-primary {
    @apply text-[#0088d6];
  }
}

@layer components {
  .prose ul,
  .prose ol {
    @apply list-inside pl-5 space-y-2;
  }

  .prose ul {
    @apply list-disc;
  }

  .prose ol {
    @apply list-decimal;
  }

  /* Reset margins for paragraphs inside list items to prevent extra spacing */
  .prose li > p {
    @apply inline;
  }
}