package components

templ CodeBlock(code string, output string) {
	<div class="code-block">
		<div class="code-header">
			Python Code
		</div>
		<div class="code-content">
			<pre><code>{ code }</code></pre>
		</div>
		if output != "" {
			<div class="border-t border-gray-700">
				<div class="code-header">
					Output
				</div>
				<div class="output-content">
					<pre><code>{ output }</code></pre>
				</div>
			</div>
		}
	</div>
}

templ InlineCode(code string) {
	<code class="bg-gray-100 text-gray-800 px-2 py-1 rounded text-sm font-mono">{ code }</code>
}